<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <script src="/js/signup.js"></script>
</head>
<body>
    Esta es la página del registro
</body>
</html>